RewriteEngine on

#
# send auth to PHP
#
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

#
# rewrite path (endpoint/value) to parameter
#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./mia.php?path=$1 [L,QSA] 


# Allow mod_dir to serve index.html when requesting the directory
# DirectoryIndex index.html


# Front-controller (exclude static resources)
# RewriteRule ^index\.html$ - [L]
# RewriteCond %{REQUEST_URI} !^/(assets|css|img|js|modules|partials|vendor)/
# RewriteRule . index.html [L]




#
# try to win against CORS
#

#  <IfModule mod_headers.c>
#    Header set Access-Control-Allow-Origin "*"
#  </IfModule>

#   <IfModule mod_headers.c>
#     Header always set Access-Control-Allow-Origin: "*"
#     Header always set Access-Control-Allow-Methos: "GET, OPTIONS"
#     Header always set Access-Conrtol-Allow-Headers: "api-key, content-type"
# </IfModule>

# RewriteEngine On
# RewriteCond %{REQUEST_METHOD} OPTIONS
# RewriteRule ^(.*)$ $1 [R=200,L]