RewriteEngine on

#
# send auth to PHP
# 
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
#
# rewrite path (endpoint/value) to parameter
#
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./mia.php?path=$1 [L,QSA] 

 